<h1>註冊畫面</h1>
<div>取得表單: {{ f.value | json }}</div>
<div>取得所有(包含disable): {{ f.form.getRawValue() | json }}</div>
<div>invalid: {{ f.invalid | json }}</div>

<button (click)="f.reset({ personName: 'table' })">reset form</button>
<form #f="ngForm" (ngSubmit)="submitForm(f)" novalidate>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">姓名</label>
    <div class="col-sm-10">
      <input
        type="text"
        name="personName"
        ngModel
        #personName="ngModel"
        class="form-control"
        placeholder="姓名 (必填)"
        required
        minlength="2"
      />
      <div>Errors:{{ personName.errors | json }}</div>
      <div>
        getErrors('minlength'): {{ personName.getError('minlength') | json }}
      </div>
      <div>invalid: {{ personName.invalid | json }}</div>
      <div>value: {{ personName.value | json }}</div>
      <span *ngIf="personName.hasError('required')">必須填入姓名!</span>
      <span *ngIf="personName.hasError('minlength')">至少寫入2個字吧</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">E-mail</label>
    <div class="col-sm-10">
      <input
        type="email"
        name="email"
        ngModel
        class="form-control"
        placeholder="Email (必填)"
        required
        disabled
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
          ngModel
          name="send"
          #send="ngModel"
        />
        <label class="form-check-label" for="defaultCheck1">
          寄送產品型錄
        </label>
      </div>
    </div>
  </div>
  <ng-container *ngIf="send.value">
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >地址類別</label
      >
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="addressType"
            value="home"
            checked
          />
          <label class="form-check-label" for="inlineRadio1">住家</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="addressType"
            value="office"
          />
          <label class="form-check-label" for="inlineRadio2">公司</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="addressType"
            value="other"
          />
          <label class="form-check-label" for="inlineRadio3">其他</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label"
        >縣市區域、郵遞區號</label
      >
      <div class="col-sm-10">
        <div class="row">
          <div class="col">
            <select id="inputState" class="form-control">
              <option selected>請選擇縣市</option>
              <option>...</option>
            </select>
          </div>
          <div class="col">
            <select id="inputState" class="form-control">
              <option selected>請選擇區域</option>
              <option>...</option>
            </select>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="郵遞區號" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">地址</label>
      <div class="col-sm-10"><input type="text" class="form-control" /></div>
    </div>
  </ng-container>

  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
    送出
  </button>
</form>
