<div class="row justify-content-between">
  <div class="col-sm-3">
    <label>
      搜尋條件
    </label>
    <input type="text" />
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-primary" routerLink="/product/edit/0">新增產品</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><button type="button" class="btn btn-primary">隱藏圖片</button></th>
      <th scope="col">名稱</th>
      <th scope="col">代碼</th>
      <th scope="col">評等</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <img src="assets/images/colorware.jpg" class="img-fluid img-thumbnail" width="100px">
      </td>
      <td>Product 1</td>
      <td>A0001</td>
      <td>2</td>
      <td><button type="button" class="btn btn-primary">編輯</button></td>
    </tr>
    <tr>
      <td>
        <img src="assets/images/red-airpod-base-wrap.jpg" class="img-fluid img-thumbnail" width="100px">
      </td>
      <td>Product 2</td>
      <td>A0002</td>
      <td>4</td>
      <td><button type="button" class="btn btn-primary">編輯</button></td>
    </tr>
    <tr>
      <td>
        <img src="assets/images/red-leather-case-and-airpod-wrap.jpg" class="img-fluid img-thumbnail" width="100px">
      </td>
      <td>Product 3</td>
      <td>A0003</td>
      <td>1</td>
      <td><button type="button" class="btn btn-primary">編輯</button></td>
    </tr>
    <tr>
      <td>
        <img src="assets/images/red-silicon-case-and-airpod-wrap.jpg" class="img-fluid img-thumbnail" width="100px">
      </td>
      <td>Product 4</td>
      <td>A0004</td>
      <td>5</td>
      <td><button type="button" class="btn btn-primary">編輯</button></td>
    </tr>
  </tbody>
</table>
