<h1>編輯產品</h1>
<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">產品名稱</label>
    <div class="col-sm-10">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">產品代碼</label>
    <div class="col-sm-10">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">評等(1-5)</label>
    <div class="col-sm-10">
      <input type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button class="btn btn-primary">新標籤</button>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">標籤</label>
    <div class="col-sm-10">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">產品描述</label>
    <div class="col-sm-10">
      <textarea rows="3" class="form-control"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">儲存</button>
  <button type="button" class="btn btn-default" routerLink="/product">返回</button>
</form>
